@using WebCoder.WebUI.Enums
@using WebCoder.WebUI.Extensions
@model RepositoryViewModel

@{
    ViewBag.Title = "Repository";
}


<div class="container mt-3">
    <h2>@Model.Owner/@Model.Title</h2>
    <p>
        @if (Model.IsPublic)
        {
            <span class="badge rounded-pill bg-primary">public</span>
        }
        else
        {
            <span class="badge rounded-pill bg-secondary">private</span>
        }
    </p>
    <p class="fs-4">Id: @Model.Id</p>
    <p class="fs-4">Owner: <a asp-controller="Account" asp-action="PublicProfile" asp-route-userName="@Model.Owner">@Model.Owner</a></p>
    <p class="fs-4">About: @Model.About</p>
    
    @if (Model.UserPermission != UserPermission.ViewOnly)
    {
        <h3>Actions</h3>
        
        if (Model.UserPermission.HasEditPermission())
        {
            <a class="btn btn-success" asp-action="Index" asp-controller="RepositorySources" asp-route-userName="@Model.Owner" asp-route-title="@Model.Title">Sources</a>
        }
        
        if (Model.UserPermission.HasEditPermission())
        {
            <a class="btn btn-primary" asp-action="EditRepository" asp-route-userName="@Model.Owner" asp-route-title="@Model.Title">Edit</a>
        }

        if (Model.UserPermission.HasDeletePermission())
        {
            <a class="btn btn-danger" asp-action="DeleteRepository" asp-route-userName="@Model.Owner" asp-route-title="@Model.Title">Delete</a>
        }
    }
</div>

